@using Veil.DataModels

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    }

    <ul class="right">
        <li class="has-dropdown">
            <a href="#">My Stuff</a>
            <ul class="dropdown">
                @if (Context.IsDebuggingEnabled)
                {
                    <li style="color:white;">Debugging is Enabled</li>
                }

                @if (User.IsInRole(VeilRoles.EMPLOYEE_ROLE) || this.Context.IsDebuggingEnabled) /* TODO: Remove the debugging check */
                {
                    <li>
                        @Html.ActionLink("Create Game", "Create", new { Controller = "Games" })
                    </li>
                    <li>
                        @Html.ActionLink("Create Event", "Create", new { Controller = "Events" })
                    </li>
                    <li>
                        @Html.ActionLink("Unprocessed Orders", "UnprocessedOrders", new {Controller = "WebOrders"})
                    </li>
                    <li>
                        @Html.ActionLink("Process Reviews", "Pending", new { Controller = "Reviews" })
                    </li>
                    <li>
                        @Html.ActionLink("Reports", "Index", new { Controller = "Reports" })
                    </li>
                }

                @if (User.IsInRole(VeilRoles.MEMBER_ROLE) || this.Context.IsDebuggingEnabled) /* TODO: Remove the debugging check */
                {
                    <li>
                        @Html.ActionLink("Wishlist", "Index", new { Controller = "Wishlist" })
                    </li>
                    <li>
                        @Html.ActionLink("My Orders", "Index", new { Controller = "WebOrders" })
                    </li>
                    <li>
                        @Html.ActionLink("My Events", "MyEvents", new {Controller = "Events"})
                    </li>
                    <li>
                        @Html.ActionLink("My Friends", "Index", new { Controller = "FriendList" })
                    </li>
                    <li>
                        @Html.ActionLink("Account Settings", "Index", new { Controller = "Manage" })
                    </li>
                }
            </ul>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
}
else
{
    <ul class="right">
        <li>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: new { returnUrl = ViewBag.ReturnUrl ?? Request.RawUrl }, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}
