@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @*
            TODO: Add back after prototyping
            <li class="has-dropdown">
                <a href="#">My Stuff</a>
                <ul class="dropdown">
                    <li>
                        @Html.ActionLink("Wishlist", "Index", new { Controller = "Wishlist" })
                    </li>
                    <li>
                        @Html.ActionLink("My Orders", "Index", new { Controller = "WebOrders" })
                    </li>
                    <li>
                        @Html.ActionLink("Account Settings", "Settings", new { Controller = "Account" })
                    </li>
                    <li>
                        @Html.ActionLink("Friends List", "Index", new { Controller = "FriendList" })
                    </li>
                </ul>
            </li>*@
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
