@using Veil.Controllers
@using Veil.DataModels

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    }

    <ul class="right">
        <li class="has-dropdown">
            <a href="#">My Stuff</a>
            <ul class="dropdown">
                @if (User.IsInRole(VeilRoles.EMPLOYEE_ROLE))
                {
                    <li>
                        @Html.ActionLink("Create Game", "Create", new { Controller = "Games" })
                    </li>
                    <li>
                        @Html.ActionLink("Create Event", "Create", new {Controller = "Events"})
                    </li>
                    <li>
                        @Html.ActionLink("Manage Companies", "Manage", new { Controller = "Companies" })
                    </li>
                    <li>
                        @Html.ActionLink("Unprocessed Orders", "Index", new {Controller = "WebOrders"})
                    </li>
                    <li>
                        @Html.ActionLink("Unprocessed Reviews", "Pending", new { Controller = "Reviews" })
                    </li>
                    <li>
                        @Html.ActionLink("Reports", "Index", new { Controller = "Reports" })
                    </li>
                }

                @if (User.IsInRole(VeilRoles.MEMBER_ROLE))
                {
                    <li>
                        @Html.ActionLink("Recommended For You", "Recommended", new { Controller = "Games" })
                    </li>
                    <li>
                        @Html.ActionLink("Friends", "Index", new {Controller = "FriendList"})
                    </li>
                    <li>
                        @Html.ActionLink("Registered Events", "MyEvents", new { Controller = "Events" })
                    </li>
                    <li>
                        @Html.ActionLink("Wishlist", "Index", new { Controller = "Wishlist" })
                    </li>
                    <li>
                        @Html.ActionLink("Order History", "Index", new { Controller = "WebOrders" })
                    </li>
                    <li>
                        @Html.ActionLink("Account Settings", "Index", new { Controller = "Manage" })
                    </li>
                }
            </ul>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
}
else
{
    <ul class="right">
        <li>
            @{
                string returnUrl = ViewBag.ReturnUrl;

                // Prevent a redirect back to the confirm email page which would result in an error.
                if (returnUrl == null && !Request.RawUrl.Contains(nameof(AccountController.ConfirmEmail)))
                {
                    returnUrl = Request.RawUrl;
                }
                else
                {
                    returnUrl = "/";
                }
            }
            @Html.ActionLink("Log in", "Login", "Account", routeValues: new { returnUrl = returnUrl }, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}
