<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1>@Html.ActionLink("Veil", "Index", new { Controller = "Home" })</h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon">
            <a href="#">
                <span>Menu</span></a>
        </li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->

        @Html.Partial("_LoginNavBarPartial")

        <ul class="right">
            <li class="has-form">
                <div class="row collapse">
                    <div class="large-8 small-9 columns">
                        <input type="text" placeholder="Keyword or Tag">
                    </div>
                    <div class="large-4 small-3 columns">
                        <a href="#" class="alert button expand">Search</a>
                    </div>
                </div>
            </li>
            <li class="active">
                @Html.ActionLink("Cart (1)", "Index", new { Controller = "Cart" })
            </li>
            <!-- TODO: Remove after prototyping as it should only exist in the logged in partial -->
            <li class="has-dropdown">
                <a href="#">My Stuff</a>
                <ul class="dropdown">
                    <li>
                        @Html.ActionLink("Wishlist", "Index", new { Controller = "Wishlist" })
                    </li>
                    <li>
                        @Html.ActionLink("My Orders", "Index", new { Controller = "WebOrders" })
                    </li>
                    <li>
                        @Html.ActionLink("Account Settings", "Index", new { Controller = "Manage" })
                    </li>
                    <li>
                        @Html.ActionLink("Friends List", "Index", new { Controller = "FriendList" })
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
            <li class="has-dropdown">
                <a href="#">Store</a>
                <ul class="dropdown">
                    <li>
                        @Html.ActionLink("Games", "Index", new { Controller = "Games" })
                    </li>
                    <li>
                        @Html.ActionLink("Game Detail", "Details", new { Controller = "Games", id = "7169E5E2-AFCF-4F55-9917-207D2076457F" })
                    </li>
                </ul>
            </li>
            <li class="has-dropdown">
                @Html.ActionLink("Events", "Index", new { Controller = "Events" })
                <ul class="dropdown">
                    <li>
                        @Html.ActionLink("Event Detail", "Details", new { Controller = "Events", Id = "75F0C710-9864-4FDE-9074-5A2A1FFE89A7" })
                        @Html.ActionLink("My Events", "Index", new { Controller = "Events" })
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</nav>