<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1>@Html.ActionLink("Veil", "Index", new { Controller = "Home" })</h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon">
            <a href="#">
                <span>Menu</span></a>
        </li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->

        @Html.Partial("_LoginNavBarPartial")

        <ul class="right">
            <li class="has-form">
                <div class="row collapse">
                    <div class="large-8 small-9 columns">
                        <input type="text" placeholder="Keyword or Tag">
                    </div>
                    <div class="large-4 small-3 columns">
                        <a href="#" class="alert button expand">Search</a>
                    </div>
                </div>
            </li>
            <li class="active">
                @Html.ActionLink("Cart (1)", "Index", new { Controller = "Cart" })
            </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
            <li class="has-dropdown">
                <a href="@Url.Action("Index", "Games")">Store</a>
                <ul class="dropdown">
                    <li>
                        @Html.ActionLink("Games", "Index", new { Controller = "Games" })
                    </li>
                </ul>
            </li>
            <li class="has-dropdown">
                @Html.ActionLink("Events", "Index", new { Controller = "Events" })
                <ul class="dropdown">
                    <li>
                        @Html.ActionLink("My Events", "MyEvents", new { Controller = "Events" })
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</nav>