@using Veil.DataModels
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <a href="@Url.Action("Index", "Home")"><img src="https://cloud.githubusercontent.com/assets/9099866/10851581/4c0c41a8-7f02-11e5-92a6-a4d59528d6f4.png" /></a>
            <h1><a href="@Url.Action("Index", "Home")">Veil</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon">
            <a href="#">
                <span>Menu</span></a>
        </li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->

        @Html.Partial("_LoginNavBarPartial")

        <ul class="right">
            <li class="has-form">
                <div class="row collapse">
                    @using (Html.BeginForm("Search", "Games", FormMethod.Post))
                    {
                        <div id="nav-bar-search-container" class="small-9 columns">
                            <input type="text" id="nav-bar-search" name="keyword" placeholder="Game Name"/>
                        </div>
                        <div id="nav-bar-search-button-container" class="small-3 columns">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    }
                </div>
            </li>

            @if (User.IsInRole(VeilRoles.MEMBER_ROLE) || this.Context.IsDebuggingEnabled) /* TODO: Remove the debugging check */
            {
                <li class="active">
                    @Html.ActionLink("Cart (1)", "Index", new { Controller = "Cart" })
                </li>
            }
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
            <li>@Html.ActionLink("Games", "Index", new { Controller = "Games" }) </li>
            <li class="has-dropdown">
                @Html.ActionLink("Events", "Index", new { Controller = "Events" })
                @if (User.IsInRole(VeilRoles.MEMBER_ROLE))
                {
                    <ul class="dropdown">
                        <li>
                            @Html.ActionLink("My Events", "MyEvents", new {Controller = "Events"})
                        </li>
                    </ul>
                }
            </li>
        </ul>
    </section>
</nav>