@model Veil.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="columns">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="columns padding-top-1">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
</div>

<div class="row panel">
    <div class="columns">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
        
            <div class="row collapse">
                <div class="medium-4 columns">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "prefix" })
                </div>
                <div class="medium-8 columns">
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>

            <div class="row collapse">
                <div class="medium-4 columns">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "prefix" })
                </div>
                <div class="medium-8 columns">
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>

            <div class="row collapse">
                <div class="medium-4 columns">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "prefix" })
                </div>
                <div class="medium-8 columns">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
             
            <div class="row">
                <div class="medium-10 column">
                    <button type="submit" class="expand">Change Password</button>
                </div>
                <div class="medium-2 column">
                    @Html.ActionLink("Cancel", "Index", new { Controller = "Manage" }, new { @class = "button alert expand" })
                </div>
            </div>
        }
    </div>
</div>