@model Veil.Models.IndexViewModel

@{
    ViewBag.Title = "Account Settings";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <h3>@User.Identity.Name</h3>
    </div>
</div>

@* TODO: This was just copy pasted from the Manage/Index view and should be styled*@
<p class="text-success">@Model.StatusMessage</p>

@using (Html.BeginForm("UpdateProfile", "Manage", FormMethod.Post, new { Role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row panel">
        <div class="column">
            <h4>Your Profile</h4>
            <div class="row collapse">
                <div class="small-4 large-3 columns">
                    <span class="prefix">First Name</span>
                </div>
                <div class="small-8 large-9 columns">
                    <input type="text" value="Joe"/>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-4 large-3 columns">
                    <span class="prefix">Last Name</span>
                </div>
                <div class="small-8 large-9 columns">
                    <input type="text" value="Danger"/>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-4 large-3 columns">
                    <span class="prefix">Email</span>
                </div>
                <div class="small-8 large-9 columns">
                    <input type="text" value="example@veil.com"/>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-4 large-3 columns">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "prefix" })
                </div>
                <div class="small-8 large-9 columns">
                    @Html.EditorFor(m => m.PhoneNumber)
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>
            </div>
            <div class="row collapse">
                <div class="small-8 large-3 columns">
                    <span class="prefix">Wishlist Visibility</span>
                </div>
                <div class="small-4 large-9 columns">
                    <select>
                        <option>Private</option>
                        <option>Friends Only</option>
                        <option>Public</option>
                    </select>
                </div>
            </div>

            <div class="row collapse">
                <div class="small-8 large-3 columns">
                    <span class="prefix">Addresses</span>
                </div>

                <div class="small-4 large-9 columns">
                    @Html.ActionLink("Manage Addresses", "ManageAddresses", null, new { @class = "button postfix" })
                </div>
            </div>

            <div class="row collapse">
                <div class="small-8 large-3 columns">
                    <span class="prefix">Credit Cards</span>
                </div>

                <div class="small-4 large-9 columns">
                    @Html.ActionLink("Manage Credit Cards", "ManageCreditCards", null, new { @class = "button postfix" })
                </div>
            </div>

            <div class="row collapse">
                <div class="small-8 large-3 columns">
                    <span class="prefix">Password</span>
                </div>
                <div class="small-4 large-9 columns">
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "button postfix" })
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword", null, new { @class = "button postfix" })
                    }
                </div>
            </div>

            <div class="row collapse">
                <div class="small-8 large-3 columns">
                    <span class="prefix">External Logins</span>
                </div>
                <div class="small-4 large-9 columns">
                    @Html.ActionLink($"{Model.Logins.Count} [Manage]", "ManageLogins", null, new { @class = "button postfix" })
                </div>
            </div>

            <div class="row collapse">
                <div class="small-8 large-3 columns">
                    <span class="prefix">Two Factor Auth</span>
                </div>
                <div class="small-4 large-9 columns">
                    <p class="postfix">
                        There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details.
                    </p>

                    @*@if (Model.TwoFactor)
                            {
                                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>Enabled
                                    <input type="submit" value="Disable" class="btn btn-link" />
                                    </text>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>Disabled
                                    <input type="submit" value="Enable" class="btn btn-link" />
                                    </text>
                                }
                        }*@
                </div>
            </div>

            @*@if (Model.TwoFactor)
            {
                <div class="row collapse">
                    <div class="small-8 large-3 columns">
                        <span class="prefix">Browser Remembered</span>
                    </div>
                    <div class="small-4 large-9 columns">
                        @if (Model.BrowserRemembered)
                        {
                            using (Html.BeginForm("ForgetBrowser", "Manage", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="postfix">Browser is curently remembered for two factor: Forget Browser</button>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("RememberBrowser", "Manage", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="postfix">Browser is curently not remembered for two factor: Remember Browser</button>
                            }
                        }
                    </div>
                </div>
            }*@

            <div class="row collapse">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.ReceivePromotionalEmail, new { value = Model.ReceivePromotionalEmail })
                    @Html.LabelFor(m => m.ReceivePromotionalEmail)
                </div>
            </div>
            <button type="submit">Save Profile</button>
        </div>
    </div>
}

