@using Veil.DataModels.Models
@model Veil.Models.IndexViewModel

@{
    ViewBag.Title = "Account Settings";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <h3>@User.Identity.Name</h3>
    </div>
</div>

@using (Html.BeginForm("UpdateProfile", "Manage", FormMethod.Post, new { Role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row panel">
        <div class="column">
            <h4>Your Profile</h4>
            <div class="row collapse">
                <div class="medium-3 columns">
                    @Html.LabelFor(model => model.MemberFirstName, htmlAttributes: new {@class = "prefix"})
                </div>
                <div class="medium-9 columns">
                    @Html.EditorFor(model => model.MemberFirstName, new { htmlAttributes = new { @class = "expand" } })
                    @Html.ValidationMessageFor(model => model.MemberFirstName, "", new {@class=""})
                </div>
            </div>
            <div class="row collapse">
                <div class="medium-3 columns">
                    @Html.LabelFor(model => model.MemberLastName, htmlAttributes: new { @class = "prefix" })
                </div>
                <div class="medium-9 columns">
                    @Html.EditorFor(model => model.MemberLastName, new { htmlAttributes = new { @class = "expand" } })
                    @Html.ValidationMessageFor(model => model.MemberLastName, "", new { @class = "" })
                </div>
            </div>
            <div class="row collapse">
                <div class="medium-3 columns">
                    @Html.LabelFor(model => model.MemberEmail, htmlAttributes: new { @class = "prefix" })
                </div>
                <div class="medium-9 columns">
                    @Html.EditorFor(model => model.MemberEmail, new { htmlAttributes = new { @class = "expand" } })
                    @Html.ValidationMessageFor(model => model.MemberEmail, "", new { @class = "" })
                </div>
            </div>
            <div class="row collapse">
                <div class="medium-3 columns">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "prefix" })
                </div>
                <div class="medium-9 columns">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "expand" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "" })
                </div>
            </div>
            <div class="row collapse">
                <div class="medium-3 columns">
                    @Html.LabelFor(model => model.MemberVisibility, htmlAttributes: new { @class = "prefix" })
                </div>
                <div class="medium-9 columns">
                    @Html.EnumDropDownListFor(model => model.MemberVisibility, htmlAttributes: new {@class = "expand"})
                    @Html.ValidationMessageFor( model => model.MemberVisibility, "", new {@class = ""})
                </div>
            </div>
            <div class="row collapse">
                <div class="medium-3 columns">
                    <span class="prefix"><strong>Favorites</strong></span>
                </div>
                <div class="medium-9 columns">
                    <div class="row">
                        <div class="medium-6 columns">
                            @Html.ActionLink($"Platforms ({Model.FavoritePlatformCount})", "ManagePlatforms", null, new { @class = "button expand postfix border-right-white" })
                        </div>
                        <div class="medium-6 columns">
                            @Html.ActionLink($"Tags ({Model.FavoriteTagCount})", "ManageTags", null, new { @class = "button expand postfix" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row collapse">
                <div class="medium-3 columns">
                    <span class="prefix"><strong>Addresses</strong></span>
                </div>

                <div class="medium-9 columns">
                    @Html.ActionLink("Manage Addresses", "ManageAddresses", null, new { @class = "button postfix" })
                </div>
            </div>

            <div class="row collapse">
                <div class="medium-3 columns">
                    <span class="prefix"><strong>Credit Cards</strong></span>
                </div>

                <div class="medium-9 columns">
                    @Html.ActionLink("Manage Credit Cards", "ManageCreditCards", null, new { @class = "button postfix" })
                </div>
            </div>

            <div class="row collapse">
                <div class="medium-3 columns">
                    <span class="prefix"><strong>Password</strong></span>
                </div>
                <div class="medium-9 columns">
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "button postfix" })
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword", null, new { @class = "button postfix" })
                    }
                </div>
            </div>
            
            <div class="row collapse">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.ReceivePromotionalEmail, new { value = Model.ReceivePromotionalEmail })
                    @Html.LabelFor(m => m.ReceivePromotionalEmail)
                </div>
            </div>
            <button type="submit">Save Profile</button>
        </div>
    </div>
}

