@using Veil.DataModels.Models
@model Veil.Models.IndexViewModel

@{
    ViewBag.Title = "Account Settings";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <h3>@User.Identity.Name</h3>
    </div>
</div>

@using (Html.BeginForm("UpdateProfile", "Manage", FormMethod.Post, new { Role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row panel">
        <div class="column">
            <h4>Your Profile</h4>
            <div class="row collapse">
                <div class="medium-3 columns">
                    @Html.LabelFor(model => model.MemberFirstName, htmlAttributes: new {@class = "prefix"})
                </div>
                <div class="medium-9 columns">
                    @Html.EditorFor(model => model.MemberFirstName, new { htmlAttributes = new { @class = "expand" } })
                    @Html.ValidationMessageFor(model => model.MemberFirstName, "", new {@class=""})
                </div>
            </div>
            <div class="row collapse">
                <div class="medium-3 columns">
                    @Html.LabelFor(model => model.MemberLastName, htmlAttributes: new { @class = "prefix" })
                </div>
                <div class="medium-9 columns">
                    @Html.EditorFor(model => model.MemberLastName, new { htmlAttributes = new { @class = "expand" } })
                    @Html.ValidationMessageFor(model => model.MemberLastName, "", new { @class = "" })
                </div>
            </div>
            <div class="row collapse">
                <div class="medium-3 columns">
                    @Html.LabelFor(model => model.MemberEmail, htmlAttributes: new { @class = "prefix" })
                </div>
                <div class="medium-9 columns">
                    @Html.EditorFor(model => model.MemberEmail, new { htmlAttributes = new { @class = "expand" } })
                    @Html.ValidationMessageFor(model => model.MemberEmail, "", new { @class = "" })
                </div>
            </div>
            <div class="row collapse">
                <div class="medium-3 columns">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "prefix" })
                </div>
                <div class="medium-9 columns">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "expand" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "" })
                </div>
            </div>
            <div class="row collapse">
                <div class="medium-3 columns">
                    @Html.LabelFor(model => model.MemberVisibility, htmlAttributes: new { @class = "prefix" })
                </div>
                <div class="medium-9 columns">
                    @Html.EnumDropDownListFor(model => model.MemberVisibility, htmlAttributes: new {@class = "expand"})
                    @Html.ValidationMessageFor( model => model.MemberVisibility, "", new {@class = ""})
                </div>
            </div>
            <div class="row collapse">
                <div class="medium-3 columns">
                    <span class="prefix"><strong>Favorites</strong></span>
                </div>
                <div class="medium-9 columns">
                    <div class="row">
                        <div class="medium-6 columns">
                            @Html.ActionLink($"Platforms ({Model.FavoritePlatformCount})", "ManagePlatforms", null, new { @class = "button expand postfix border-right-white" })
                        </div>
                        <div class="medium-6 columns">
                            @Html.ActionLink($"Tags ({Model.FavoriteTagCount})", "ManageTags", null, new { @class = "button expand postfix" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row collapse">
                <div class="medium-3 columns">
                    <span class="prefix"><strong>Addresses</strong></span>
                </div>

                <div class="medium-9 columns">
                    @Html.ActionLink("Manage Addresses", "ManageAddresses", null, new { @class = "button postfix" })
                </div>
            </div>

            <div class="row collapse">
                <div class="medium-3 columns">
                    <span class="prefix"><strong>Credit Cards</strong></span>
                </div>

                <div class="medium-9 columns">
                    @Html.ActionLink("Manage Credit Cards", "ManageCreditCards", null, new { @class = "button postfix" })
                </div>
            </div>

            <div class="row collapse">
                <div class="medium-3 columns">
                    <span class="prefix"><strong>Password</strong></span>
                </div>
                <div class="medium-9 columns">
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "button postfix" })
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword", null, new { @class = "button postfix" })
                    }
                </div>
            </div>

            <div class="row collapse">
                <div class="medium-3 columns">
                    <span class="prefix"><strong>External Logins</strong></span>
                </div>
                <div class="medium-9 columns">
                    @Html.ActionLink($"{Model.Logins.Count} [Manage]", "ManageLogins", null, new { @class = "button postfix" })
                </div>
            </div>

            <div class="row collapse">
                <div class="medium-3 columns">
                    <span class="prefix"><strong>Two Factor Auth</strong></span>
                </div>
                <div class="medium-9 columns">
                    <p class="postfix">
                        There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details.
                    </p>

                    @*@if (Model.TwoFactor)
                            {
                                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>Enabled
                                    <input type="submit" value="Disable" class="btn btn-link" />
                                    </text>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>Disabled
                                    <input type="submit" value="Enable" class="btn btn-link" />
                                    </text>
                                }
                        }*@
                </div>
            </div>

            @*@if (Model.TwoFactor)
            {
                <div class="row collapse">
                    <div class="medium-3 columns">
                        <span class="prefix">Browser Remembered</span>
                    </div>
                    <div class="medium-9 columns">
                        @if (Model.BrowserRemembered)
                        {
                            using (Html.BeginForm("ForgetBrowser", "Manage", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="postfix">Browser is curently remembered for two factor: Forget Browser</button>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("RememberBrowser", "Manage", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="postfix">Browser is curently not remembered for two factor: Remember Browser</button>
                            }
                        }
                    </div>
                </div>
            }*@

            <div class="row collapse">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.ReceivePromotionalEmail, new { value = Model.ReceivePromotionalEmail })
                    @Html.LabelFor(m => m.ReceivePromotionalEmail)
                </div>
            </div>
            <button type="submit">Save Profile</button>
        </div>
    </div>
}

