@using Veil.Controllers
@model Veil.Models.ReviewViewModel

<style>
</style>

@using (Html.BeginForm("CreateReviewForGameProduct", "Reviews"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.GameId)

    <div class="row panel">
        <div class="column">
            <h4>Leave a Review</h4>
            <div class="row">
                <div class="medium-4 column">
                    @if (Model.Review == null)
                    {
                        @Html.LabelFor(model => model.Review.ProductReviewedId)
                        @Html.DropDownListFor(model => model.Review.ProductReviewedId, Model.GameSKUSelectList)
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.Review.ProductReviewedId)
                        <strong>Format:</strong>
                        @Model.Review.ProductReviewed.Name
                    }

                    <fieldset>
                        <legend>Rating</legend>
                        @Html.ValidationMessageFor(model => model.Review.Rating)
                        @for (int i = 5; i >= 1; i--)
                        {
                            <label class="rating">
                                @Html.RadioButtonFor(model => model.Review.Rating, i)
                                <span class="show-for-sr">@i stars</span>

                                @for (int r = 1; r <= i; r++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                            </label>
                            <br/>
                        }
                    </fieldset>
                </div>

                <div class="medium-8 column">
                    @Html.LabelFor(model => model.Review.ReviewText)
                    @Html.EditorFor(model => model.Review.ReviewText)
                </div>
            </div>

            <button class="right" type="submit">Submit Review</button>
        </div>
    </div>
}