@model Veil.Models.EventListItemViewModel

<div class="row panel">
    <div class="medium-9 columns">
        <h4><a href="@Url.Action("Details", new { id = Model.Event.Id })">@Model.Event.Name</a></h4>
        @if (Model.CurrentMemberIsRegistered)
        {
            //TODO: See how this looks
            <span><i class="fa fa-check-circle-o"></i>You're registered!</span>
        }
        <p>@Model.Event.Description</p>
    </div>
    <div class="medium-3 columns">
        <p><strong>Date: </strong>@Model.Event.Date.ToString("MMM dd, yyyy")</p>
        <p><strong>Time: </strong>@Model.Event.Date.ToString("t")</p>
        <p><strong>Duration: </strong>@Model.Event.Duration</p>
    </div>
</div>