@model Veil.Models.EventDetailsViewModel
@using Veil.Extensions

@{
    ViewBag.Title = Model.Event.Name;
}

<div class="row">
    <div class="small-12 columns">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row">
    <div class="medium-8 columns">
        <p>@Model.Event.Description</p>
    </div>
    <div class="medium-4 columns">
        <div class="panel">
            <p><strong>Date: </strong>@Model.Event.Date.ToString("MMM dd, yyyy")</p>
            <p><strong>Time: </strong>@Model.Event.Date.ToString("t")</p>
            <p><strong>Duration: </strong>@Model.Event.Duration</p>
            <p><strong>Attendees: </strong>@Model.Event.RegisteredMembers.Count</p>
        </div>
        @if (User.IsEmployeeOrAdmin())
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Event.Id }, new { @class = "button expand" });
        }
        else if (Model.CurrentMemberIsRegistered)
        {
            @Html.ActionLink("Unregister", "Unregister", new { id = Model.Event.Id }, new { @class = "button expand alert" });
        }
        else
        {
            @Html.ActionLink("Register", "Register", new { id = Model.Event.Id }, new { @class = "button expand" });
        }
    </div>
</div>