@model Veil.Models.EventDetailsViewModel
@using Veil.Extensions

@{
    ViewBag.Title = Model.Event.Name;
}

<div class="row">
    <div class="small-12 columns">
        <h2 class="inline">@ViewBag.Title</h2>
        @if (Model.CurrentMemberIsRegistered)
        {
            <i class="fa fa-check-circle-o"></i>
            <span class="event-register-badge">Registered</span>
        }
    </div>
</div>
<div class="row">
    <div class="medium-8 columns">
        <strong>@Html.DisplayNameFor(m => m.Event.Description)</strong>
        <p>@Model.Event.Description</p>
    </div>
    <div class="medium-4 columns">
        @{ Html.RenderPartial("_EventDetailsSidePanel", Model.Event); }
        @if (User.IsEmployeeOrAdmin())
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Event.Id }, new { @class = "button expand" })
            @Html.ActionLink("Delete", "Delete", new { id = Model.Event.Id }, new { @class = "button expand alert" })
        }
        else if (Model.CurrentMemberIsRegistered)
        {
            using (Html.BeginForm("Unregister", "Events", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("id", Model.Event.Id)
                <button type="submit" class="expand alert">Unregister</button>
            }
        }
        else
        {
            @Html.ActionLink("Register", "Register", "Events",
                    new { Id = Model.Event.Id },
                    new { @class = "button expand" })
        }
    </div>
</div>