@model Veil.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="row">
    <div class="columns">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row panel">
    <div class="columns">
        <h3>Enter your email address</h3>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="row collapse">
                <div class="medium-4 columns">
                    @Html.LabelFor(m => m.Email, new { @class = "prefix" })
                </div>
                <div class="medium-8 columns">
                    @Html.TextBoxFor(m => m.Email)
                </div>
            </div>

            <div class="row">
                <div class="medium-10 columns medium-centered">
                    <button type="submit" class="expand">Send Reset Link</button>
                </div>
            </div>
        }
    </div>
</div>
