@model Veil.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row panel">
    <div class="column">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Code)
            
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="row collapse">
                <div class="medium-4 columns">
                    @Html.LabelFor(m => m.Email, new { @class = "prefix" })
                </div>
                <div class="medium-8 columns">
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>

            <div class="row collapse">
                <div class="medium-4 columns">
                    @Html.LabelFor(m => m.Password, new { @class = "prefix" })
                </div>
                <div class="medium-8 columns">
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <div class="row collapse">
                <div class="medium-4 columns">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "prefix" })
                </div>
                <div class="medium-8 columns">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>

            <div class="row">
                <div class="medium-10 medium-centered columns">
                    <button type="submit" class="expand">Reset Password</button>
                </div>
            </div>
        }
    </div>
</div>