@model Veil.DataModels.Models.WebOrder

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WebOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberCreditCard.CardSecurityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberCreditCard.CardSecurityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingAddress.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonForCancellationMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonForCancellationMessage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
