@model IEnumerable<Veil.DataModels.Models.WebOrder>

@{
    ViewBag.Title = "Unprocessed Orders";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("Details", "WebOrders", FormMethod.Get))
    {
        <div class="small-6 medium-3 columns">
            <label for="orderId">Order Id</label>
            <input type="text" id="orderId" name="id" />
        </div>
        <div class="small-6 medium-3 columns end">
            <button class="expand">View Order Details</button>
        </div>
    }
</div>

<div class="row">
    <div class="column">
        <table style="width:100%;">
            <tr>
                <th>Order Number</th>
                <th>User</th>
                <th>Order Placed</th>
                <th>Status</th>
                <th class="text-right">Order Total</th>
                <td></td>
            </tr>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="5">
                        You haven't ordered anything yet.
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Member.UserAccount.UserName</td>
                        <td>@item.OrderDate</td>
                        <td>@Html.DisplayFor(m => item.OrderStatus)</td>
                        <td class="text-right">@((item.OrderSubtotal + item.ShippingCost + item.TaxAmount).ToString("C"))</td>
                        <td>
                            @Html.ActionLink("Order Details", "Details", new { id = item.Id })
                        </td>
                    </tr>
                    }
                }
        </table>
    </div>
</div>