@model Veil.DataModels.Models.Game

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="columns">
        <h2>Delete @Model.Name</h2>

        <div>
            <h3>Are you sure you want to continue?</h3>
            <hr />

            <p>
                <strong>@Html.DisplayNameFor(model => model.Name): </strong>
                @Html.DisplayFor(model => model.Name)
            </p>

            <p>
                <strong>@Html.DisplayNameFor(model => model.ESRBRatingId): </strong>
                @Html.DisplayFor(model => model.ESRBRatingId)
            </p>

            <p>
                <strong>@Html.DisplayNameFor(model => model.ShortDescription): </strong>
                @Html.DisplayFor(model => model.ShortDescription)
            </p>

            @if (Model.GameSKUs != null && Model.GameSKUs.Any())
            {
                <div class="panel">
                    <h4>By deleting this game you will also be deleting the following SKUs:</h4>

                    @foreach (var game in Model.GameSKUs)
                    {
                        <p>
                            <strong>@Html.DisplayNameFor(m => game.Platform.PlatformName): </strong>@game.Platform.PlatformName
                            <br />
                            <strong>SKU Name: </strong>@game.Name
                        </p>
                    }
                </div>

            }

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ActionLink("Cancel", "Details", new { Id = Model.Id }, new { @class = "button" })
                <input type="submit" value="Delete" class="button alert right" />
            }
        </div>
    </div>
</div>
