@model Veil.DataModels.Models.Game

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="columns">
        <h2>Delete @Model.Name</h2>

        <p>By deleting this game you will also be deleting the following gameproducts</p>

        <div>
            <hr />

            <ul>
                @foreach (var game in Model.GameSKUs)
            {
                    <li>@game.Platform.PlatformName: @game.Name</li>
                }
            </ul>
            <h4>Are you sure you want to continue?</h4>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <ul class="button-group">
                    <li><input type="submit" value="Delete" class="button alert" /></li>
                    <li>@Html.ActionLink("Cancel", "Index", null, new { @class = "button"})</li>
                    
                </ul>
            }
        </div>
    </div>
</div>
