@model Veil.Models.GameDetailViewModels

@{
    ViewBag.Title = Model.Game.Name;
}

<div class="row">
    <div class="small-12 columns">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row padding-bottom-1" data-equalizer>
    <div class="small-12 medium-6 columns" data-equalizer-watch>
        @{
            if (!string.IsNullOrWhiteSpace(Model.Game.TrailerURL))
            {
                <embed class="width-100 height-100 min-height-14" src="@Model.Game.TrailerURL" />
            }
            else
            {
                <img class="width-100" src="@Model.Game.PrimaryImageURL" alt="Game Image" />
            }
        }
    </div>
    <div class="small-10 medium-5 columns" data-equalizer-watch>
        <p class="margin-bottom-0"><strong>Release Date: @Model.EarliestRelease.ToString("MMM dd, yyyy")</strong></p>
        <p class="margin-bottom-0"><strong>Players: @Model.Game.MinimumPlayerCount - @Model.Game.MaximumPlayerCount</strong></p>
        <h4>Tags</h4>
        <ul class="inline-list">
            @foreach (var tag in Model.Game.Tags)
            {
                @* TODO: Make this link to something that actually filters by tag *@
                <li><a href="@Url.Action("Index")">@tag.Name</a></li>
            }
        </ul>
    </div>
    <div class="small-2 medium-1 columns" data-equalizer-watch>
        <img class="right width-100" src="@Model.Game.Rating.ImageURL" alt="@Model.Game.Rating.Description" />
    </div>
</div>
<div class="row">
    <div class="column">
        <p class="indent">@Model.Game.LongDescription</p>
    </div>
</div>

@* TODO: Only show this if the user is an employee *@
<div class="row">
    <div class="small-2 medium-2 columns">
        @Html.ActionLink("Delete Game", "Delete", new { id = Model.Game.Id }, new { @class = "button expand small alert" })
    </div>

    <div class="small-2 medium-2 medium-offset-2 columns">
        @Html.ActionLink("Edit Game", "Edit", new { id = Model.Game.Id }, new { @class = "button expand small" })
    </div>

    <div class="small-4 medium-3 columns">
        @Html.ActionLink("Add Physical SKU", "CreatePhysicalGameProduct", new { id = Model.Game.Id }, new { @class = "button expand small" })
    </div>

    <div class="small-4 medium-3 columns">
        @Html.ActionLink("Add Download SKU", "CreateDownloadGameProduct", new { id = Model.Game.Id }, new { @class = "button expand small" })
    </div>
</div>

@foreach (var gameProduct in Model.Game.GameSKUs)
{
    <div class="row panel">
        <div class="small-1 columns">
            <h4 style="transform:rotate(-90deg) translateX(-150%)">@gameProduct.PlatformCode</h4>
        </div>
        <div class="small-2 columns">
            <img src="@gameProduct.BoxArtImageURL" alt="@gameProduct.PlatformCode Box Art" />
        </div>
        <div class="small-5 columns">
            <h5>@gameProduct.Name</h5>
            <p class="margin-bottom-0 padding-bottom-half-em">@gameProduct.SKUDescription</p>
            <p class="margin-bottom-0"><strong>Developer:</strong>&nbsp;@gameProduct.Developer.Name</p>
            <p class="margin-bottom-0"><strong>Publisher:</strong>&nbsp;@gameProduct.Publisher.Name</p>
        </div>
        <div class="small-3 columns">
            @{ var rating = gameProduct.AverageRating; }
            @if (rating.HasValue)
            {
                <div class="rating panel">
                    <strong>Average Rating:</strong><br />
                    @Html.Partial("_RatingStarsPartial", rating)
                </div>
            }

            @*TODO: Only for Employees*@
            @Html.ActionLink("Edit", "EditPhysicalGameProduct", new { id = gameProduct.Id }, new { @class = "button expand small" })
            @Html.ActionLink("Delete", "DeleteGameProduct", new { id = gameProduct.Id }, new { @class = "button expand small alert" })

            @*TODO: Only for members*@
            @*TODO: Change ActionLink to distinguish New/Used*@
            @if (gameProduct.UsedWebPrice.HasValue)
            {
                @Html.ActionLink("Buy New " + gameProduct.NewWebPrice.ToString("C"), "AddItem", "Cart", new { productId = gameProduct.Id }, new { @class = "button expand small success margin-bottom-0" })
                @Html.ActionLink("Buy Used " + gameProduct.UsedWebPrice.Value.ToString("C"), "AddItem", "Cart", new { productId = gameProduct.Id }, new { @class = "button expand small" });
            }
            else
            {
                @Html.ActionLink("Buy New " + gameProduct.NewWebPrice.ToString("C"), "AddItem", "Cart", new { productId = gameProduct.Id }, new { @class = "button expand small success" })
            }
            @Html.ActionLink("Add to Wishlist", "Add", "Wishlist", new { itemId = gameProduct.Id }, new { @class = "button expand small margin-bottom-0" })
        </div>
    </div>
}

<div class="row">
    <div class="small-12 columns">
        <h3>Ratings and Reviews</h3>
    </div>
</div>
<div class="row panel">
    <div class="column">
        <h4>Rate the Game</h4>
        <input type="radio" name="rating" value="1"><label>1</label>
        <input type="radio" name="rating" value="2"><label>2</label>
        <input type="radio" name="rating" value="3"><label>3</label>
        <input type="radio" name="rating" value="4"><label>4</label>
        <input type="radio" name="rating" value="5"><label>5</label>
        <textarea>Write stuff here</textarea>
        <button class="right" type="submit">Submit Rating</button>
    </div>
</div>

<div class="row">
    <div class="columns">
        <span>Filter Reviews by Format</span>
        <select>
            <option>PS4</option>
            <option>Xbox One</option>
            <option>Windows</option>
        </select>
        <button type="submit">Apply Filter</button>
    </div>
</div>

<div class="row panel">
    <div class="small-3 columns">
        <h5>xXxSepirothxXx</h5>
        <p>Played it on: PS4</p>
        <p>Rating: 3.0</p>
    </div>
    <div class="small-9 columns">
        <p><em>This review has been flagged as inappropriate.</em></p>
    </div>
</div>

<div class="row">
    <div class="small 1 column">
        <p>
            @Html.ActionLink("Back to Game List", "Index")
        </p>
    </div>
</div>


