@model Veil.Models.GameDetailViewModels

@{
    ViewBag.Title = Model.Game.Name;
}

<div class="row">
    <div class="small-12 columns">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row" data-equalizer>
    <div class="small-6 columns" data-equalizer-watch>
        @{
            if (Model.Game.TrailerURL != null && Model.Game.TrailerURL != "")
            {
                <embed class="width-100 height-100 padding-bottom-1" src="@Model.Game.TrailerURL" />
            }
            else
            {
                <img class="width-100" src="@Model.Game.PrimaryImageURL" alt="Game Image" />
            }
        }
    </div>
    <div class="small-2 columns" data-equalizer-watch>
        <img class="right width-100" src="@Model.Game.Rating.ImageURL" alt="@Model.Game.Rating.Description" />
        @Html.ActionLink("Add to Wishlist", "Add", "Wishlist", new { itemId = Model.Game.Id }, new { @class="button small" })
    </div>
    <div class="small-4 columns" data-equalizer-watch>
        <p><strong>Release Date: @Model.EarliestRelease.ToString("MMM dd, yyyy")</strong></p>
        <h4>Tags</h4>
        <ul class="inline-list">
            <li><a href="#" class="button secondary tiny">Action</a></li>
            <li><a href="#" class="button secondary tiny">Post-apocalypse</a></li>
            <li><a href="#" class="button secondary tiny">Adventure</a></li>
            <li><a href="#" class="button secondary tiny">6 More...</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="column">
        <p class="indent">@Model.Game.LongDescription</p>
    </div>
</div>

@* TODO: Only show this if the user is an employee *@
<div class="row">
    <div class="small-2 medium-2 columns">
        @Html.ActionLink("Delete Game", "Delete", new { id = Model.Game.Id }, new { @class = "button expand small alert" })
    </div>

    <div class="small-2 medium-2 medium-offset-2 columns">
        @Html.ActionLink("Edit Game", "Edit", new { id = Model.Game.Id }, new { @class = "button expand small" })
    </div>

    <div class="small-4 medium-3 columns">
        @Html.ActionLink("Add Physical SKU", "CreatePhysicalGameProduct", new { id = Model.Game.Id }, new { @class="button expand small" })
    </div>

    <div class="small-4 medium-3 columns">
        @Html.ActionLink("Add Download SKU", "CreateDownloadGameProduct", new { id = Model.Game.Id }, new { @class="button expand small" })
    </div>
</div>

@{ 
    foreach (var gameProduct in Model.Game.GameSKUs)
    {
        <div class="row panel">
            <div class="small-1 columns">
                <h4 style="transform:rotate(-90deg) translateX(-100%)">@gameProduct.PlatformCode</h4>
            </div>
            <div class="small-2 columns">
                <img src="@gameProduct.BoxArtImageURL" alt="@gameProduct.PlatformCode Box Art" />
            </div>
            <div class="small-5 columns">
                <p>@gameProduct.SKUDescription</p>
            </div>
            <div class="small-3 columns">
                <button class="expand">Buy New @gameProduct.NewWebPrice</button>
                <button class="expand success">Buy Used @gameProduct.UsedWebPrice</button>
                @*TODO: Get average rating*@
                <p>Average Rating: 5.0</p>
            </div>
        </div>
    }
}

<div class="row">
    <div class="small-12 columns">
        <h3>Ratings and Reviews</h3>
    </div>
</div>
<div class="row panel">
    <div class="column">
        <h4>Rate the Game</h4>
        <input type="radio" name="rating" value="1"><label>1</label>
        <input type="radio" name="rating" value="2"><label>2</label>
        <input type="radio" name="rating" value="3"><label>3</label>
        <input type="radio" name="rating" value="4"><label>4</label>
        <input type="radio" name="rating" value="5"><label>5</label>
        <textarea>Write stuff here</textarea>
        <button class="right" type="submit">Submit Rating</button>
    </div>
</div>

<div class="row">
    <div class="columns">
        <span>Filter Reviews by Format</span>
        <select>
            <option>PS4</option>
            <option>Xbox One</option>
            <option>Windows</option>
        </select>
        <button type="submit">Apply Filter</button>
    </div>
</div>

<div class="row panel">
    <div class="small-3 columns">
        <h5>xXxSepirothxXx</h5>
        <p>Played it on: PS4</p>
        <p>Rating: 3.0</p>
    </div>
    <div class="small-9 columns">
        <p><em>This review has been flagged as inappropriate.</em></p>
    </div>
</div>

<div class="row">
    <div class="small 1 column">
        <p>
            @Html.ActionLink("Back to Game List", "Index")
        </p>
    </div>
</div>


