@model Veil.DataModels.Models.GameProduct

@{
    ViewBag.Title = "Delete Game SKU";
}

<div class="row">
    <div class="column">
        <h2>Delete "@Model.Name" for @Model.Platform.PlatformName</h2>
    </div>
</div>

<div class="row">
    <div class="columns">
        <h3>Are you sure you want to delete this game SKU?</h3>
        <hr />

        <p>
            <strong>@Html.DisplayNameFor(m => m.Developer):</strong>
            @Model.Developer.Name
        </p>

        <p>
            <strong>@Html.DisplayNameFor(m => m.Publisher):</strong>
            @Model.Publisher.Name
        </p>

        <p>
            <strong>@Html.DisplayNameFor(m => m.ReleaseDate):</strong>
            @Model.ReleaseDate.ToShortDateString()
        </p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ActionLink("Cancel", "Details", new { Controller= "Games", Id = Model.GameId }, new { @class = "button"})

            <button type="submit" class="alert right">Delete</button>
        }
    </div>
</div>