@using Veil.Models.Reports
@model DateFilteredListViewModel<GameListViewModel>

@{
    ViewBag.Title = "Game List";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p><em>Generates a report of games with number sold</em></p>
    </div>
</div>

@{ Html.RenderPartial("_DateFilteringForm", Model); }

<div class="row">
    <div class="small-12 medium-8 medium-centered columns">
        <table class="report">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Game</th>
                    <th class="text-right">Qty Sold</th>
                </tr>
            </thead>
            <tbody>
            @{
                int rankCounter = 1;
                int previousQuantitySold = 0;
            }
            @foreach (var gameItem in Model.Items)
            {
                <tr>
                    <td>@(gameItem.QuantitySold != previousQuantitySold ? rankCounter++ : rankCounter)</td>
                    <td><a href="@Url.Action("GameDetail", "Reports", new { gameGuid = gameItem.Game.Id })">@gameItem.Game.Name</a></td>
                    <td class="text-right">@gameItem.QuantitySold</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>