@using Veil.Models.Reports
@model Veil.Models.Reports.GameDetailViewModel

@{
    ViewBag.Title = "Game Detail";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p><em>Generates a report of sales for a game by format</em></p>
    </div>
</div>

<div class="game-information row">
    <div class="columns">
        <h3>@Model.Game.Name</h3>
        <p><strong>Release Date: </strong>@Model.Game.GameSKUs.Min(gs => gs.ReleaseDate).ToShortDateString()</p>
    </div>
</div>

@{ Html.RenderPartial("_DateFilteringForm", Model); }

<div class="row">
    <div class="columns">
        <table class="report">
            <thead>
                <tr>
                    <th>Platform</th>
                    <th>Format</th>
                    <th>Qty New Sold</th>
                    <th>New Sales ($)</th>
                    <th>Qty Used Sold</th>
                    <th>Used Sales ($)</th>
                    <th>Qty Total Sold</th>
                    <th>Total Sales ($)</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var sku in Model.Items)
            {
                <tr>
                    <td>@sku.GameProduct.Platform.PlatformName</td>
                    <td>@sku.GameProduct.Name</td>
                    <td class="value-number">@sku.NewQuantity</td>
                    <td class="value-number">@sku.NewSales</td>
                    <td class="value-number">@sku.UsedQuantity</td>
                    <td class="value-number">@sku.UsedSales</td>
                    <td class="value-number">@sku.TotalQuantity</td>
                    <td class="value-number">@sku.TotalSales</td>
                </tr>
            }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td class="text-right">Totals:</td>
                    <td class="value-number">@Model.TotalNewQuantity</td>
                    <td class="value-number">@Model.TotalNewSales</td>
                    <td class="value-number">@Model.TotalUsedQuantity</td>
                    <td class="value-number">@Model.TotalUsedSales</td>
                    <td class="value-number">@Model.TotalQuantity</td>
                    <td class="value-number">@Model.TotalSales</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>