
@{
    ViewBag.Title = "Reports";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p><em>Select a report to generate</em></p>
    </div>
</div>


<div class="row">
    <a href="@Url.Action("GameList")" class="button secondary text-left columns">
        <div class="row">
            <div class="medium-5 columns">
                <h4>Game List</h4>
            </div>
            <div class="medium-7 columns text-right" style="padding-top:0.8em;">
                <span>Generates a report of games with number sold.</span>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a href="@Url.Action("GameDetail")" class="button secondary text-left columns">
        <div class="row">
            <div class="medium-5 columns">
                <h4>Game Detail</h4>
            </div>
            <div class="medium-7 columns text-right" style="padding-top:0.8em;">
                <span>Generates a report of sales for a game by format.</span>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a href="@Url.Action("MemberList")" class="button secondary text-left columns">
        <div class="row">
            <div class="medium-5 columns">
                <h4>All Members' Order Summary</h4>
            </div>
            <div class="medium-7 columns text-right" style="padding-top:0.8em;">
                <span>Generates a summary report of all members' orders.</span>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a href="@Url.Action("MemberDetail")" class="button secondary text-left columns">
        <div class="row">
            <div class="medium-5 columns">
                <h4>Member's Orders</h4>
            </div>
            <div class="medium-7 columns text-right" style="padding-top:0.8em;">
                <span>Generates a report of orders made by a member.</span>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a href="@Url.Action("Wishlist")" class="button secondary text-left columns">
        <div class="row">
            <div class="medium-5 columns">
                <h4>Wishlist</h4>
            </div>
            <div class="medium-7 columns text-right" style="padding-top:0.8em;">
                <span>Generates report of games by how many wishlists each appears on.</span>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a href="@Url.Action("Sales")" class="button secondary text-left columns">
        <div class="row">
            <div class="medium-5 columns">
                <h4>Sales</h4>
            </div>
            <div class="medium-7 columns text-right" style="padding-top:0.8em;">
                <span>Generates a report of orders.</span>
            </div>
        </div>
    </a>
</div>