@using Veil.Models.Reports
@model IEnumerable<MemberListItemViewModel>

@{
    ViewBag.Title = "Member List Report";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p><em>Generates a report of members' orders.</em></p>
    </div>
</div>

@using (Html.BeginForm("MemberList", "Reports", FormMethod.Post))
{
    <div class="row">
        <div class="medium-2 columns">
            <span><em>Optional Filter</em></span><br/>
        </div>

        <div class="medium-3 columns">
            <label for="startDate" class="prefix">From:</label>
            <input type="date" id="startDate" required="required" data-val-required="Provide a start date to filter by." data-val="true" aria-required="true"  name="start" placeholder="yyyy-mm-dd"/>
            @Html.ValidationMessage("start")
        </div>
        <div class="medium-3 columns">
            <label for="endDate" class="prefix">To (optional):</label>
            <input type="date" id="endDate" name="end" value="@DateTime.Now.ToShortDateString()"/>
        </div>
        <div class="medium-3 end columns">
            <button type="submit" class="expand">Refresh Report</button>
        </div>

    </div>
}

<div class="row">
    <div class="columns">
        <table class="report">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.UserName)</th>
                    <th>@Html.DisplayNameFor(m => m.FullName)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => m.OrderCount)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => m.TotalSpentOnOrders)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => m.AverageOrderTotal)</th>
                </tr>
            </thead>
            <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="5">No member's matching the search criteria.</td>
                </tr>
            }
            else
            {
                foreach (var member in Model)
                {
                    <tr>
                        <td><a href="@Url.Action("MemberDetail", new { userName = @member.UserName })">@member.UserName</a></td>
                        <td>@member.FullName</td>
                        <td class="value-number">@($"{member.OrderCount}")</td>
                        <td class="value-number">@($"{member.TotalSpentOnOrders:C}")</td>
                        <td class="value-number">@($"{member.AverageOrderTotal:C}")</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>