@using Veil.Models.Reports
@model DateFilteredListViewModel<MemberListItemViewModel>

@{
    ViewBag.Title = "All Members' Order Summary Report";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p><em>Generates a summary report of all members' orders.</em></p>
    </div>
</div>

@{ Html.RenderPartial("_DateFilteringForm", Model); }

<div class="row">
    <div class="columns">
        <table class="report">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Items[0].UserName)</th>
                    <th>@Html.DisplayNameFor(m => m.Items[0].FullName)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => m.Items[0].OrderCount)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => m.Items[0].TotalSpentOnOrders)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => m.Items[0].AverageOrderTotal)</th>
                </tr>
            </thead>
            <tbody>
            @if (!Model.Items.Any())
            {
                <tr>
                    <td colspan="5">No member's matching the search criteria.</td>
                </tr>
            }
            else
            {
                foreach (var member in Model.Items)
                {
                    <tr>
                        <td><a href="@Url.Action("MemberDetail", new { userName = @member.UserName })">@member.UserName</a></td>
                        <td>@member.FullName</td>
                        <td class="value-number">@($"{member.OrderCount}")</td>
                        <td class="value-number">@($"{member.TotalSpentOnOrders:C}")</td>
                        <td class="value-number">@($"{member.AverageOrderTotal:C}")</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>