@model Veil.Models.Reports.SalesViewModel

@{
    ViewBag.Title = "Report of Sales";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p><em>A report of orders.</em>
        </p>
    </div>
</div>

@{ Html.RenderPartial("_DateFilteringForm", Model); }

<div class="row">
    <div class="columns">
        <table class="report">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>User</th>
                    <th class="text-right">Order Quantity</th>
                    <th class="text-right">Subtotal</th>
                    <th class="text-right">Shipping</th>
                    <th class="text-right">Tax</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
            @if (Model.Items.Count < 1)
            {
                <tr>
                    <td colspan="7">There are no orders matching the specified criteria.</td>
                </tr>
            }
            else
            {
                foreach (var order in Model.Items)
                {
                    <tr>
                        <td>@Html.ActionLink(order.OrderNumber.ToString(), "Details", "WebOrders", new {id = order.OrderNumber}, null)</td>
                        <td>@Html.ActionLink(order.Username, "MemberDetail", new {username = order.Username})</td>
                        <td class="value-number">@order.Quantity</td>
                        <td class="value-number">@order.Subtotal.ToString("C")</td>
                        <td class="value-number">@order.Shipping.ToString("C")</td>
                        <td class="value-number">@order.Tax.ToString("C")</td>
                        <td class="value-number">@order.OrderTotal.ToString("C")</td>
                    </tr>
                }
            }
            </tbody>
            <tfoot>
            <tr>
                <td>Totals</td>
                <td>@Model.OrderCount Orders</td>
                <td class="value-number">@Model.TotalQuantity</td>
                <td class="value-number">@Model.ItemsSum.ToString("C")</td>
                <td class="value-number">@Model.ShippingSum.ToString("C")</td>
                <td class="value-number">@Model.TaxSum.ToString("C")</td>
                <td class="value-number">@Model.Total.ToString("C")</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>