@model Veil.Models.Reports.WishlistViewModel

@{
    ViewBag.Title = "Wishlist Report";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p><em>A report of games by how many wishlists each appears on.</em></p>
    </div>
</div>

<div class="row hide-for-print">
    @using (Html.BeginForm("WishlistDetail", "Reports", FormMethod.Get))
    {
        <div class="small-6 medium-3 columns">
            <label for="gameId">Game</label>
            <select id="gameId" name="gameId">
                @foreach (var game in Model.Games.OrderBy(g => g.Game.Name))
                {
                    <option value="@game.Game.Id">@game.Game.Name</option>
                }
            </select>
        </div>
        <div class="small-6 medium-3 columns end">
            <button class="expand">View Detailed Report</button>
        </div>
    }
</div>

<div class="row">
    <div class="column">
        <table class="width-100">
            <thead>
                <tr>
                    <th class="text-left">Game</th>
                    @foreach (var platform in Model.Platforms)
                    {
                        <th class="text-right">
                            @platform.Platform.PlatformCode
                        </th>
                    }
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model.Games)
                {
                <tr>
                    <td class="text-left">
                        @Html.ActionLink(game.Game.Name, "WishlistDetail", new { gameId = game.Game.Id })
                    </td>
                    @foreach (var gamePlatform in game.Platforms)
                    {
                        <td class="text-right">@gamePlatform.WishlistCount</td>
                    }
                    <td class="text-right">@game.WishlistCount</td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-left">Totals</td>
                    @foreach (var platform in Model.Platforms)
                    {
                        <td class="text-right">@platform.WishlistCount</td>
                    }
                    <td class="text-right">@Model.WishlistCount</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>