@using Veil.DataModels.Models
@using Veil.Models
@model Veil.Models.ConfirmOrderViewModel

@{
    ViewBag.Title = "Order Confirmation";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title </h2>
    </div>
</div>

<div class="row">
    <div class="medium-6 columns">
        <dl>
            <dt>Billing Information</dt>
            <dd>@Model.FullName</dd>
            <dd>@Model.CreditCardLast4Digits</dd>
            <dd>
                @Html.ActionLink("Change Billing Info", "BillingInfo")
            </dd>
        </dl>
    </div>
    <div class="medium-6 columns">
        <dl>
            <dt>Shipping Information</dt>
            <dd>@Model.FullName</dd>
            <dd>@Model.Address.StreetAddress</dd>

            @if (Model.Address.POBoxNumber != null)
            {
                <dd>PO Box: @Model.Address.POBoxNumber</dd>
            }

            <dd>@Model.Address.City, @Model.ProvinceName @Model.Address.PostalCode</dd>
            <dd>@Model.CountryName</dd>

            @if (Model.PhoneNumber != null)
            {
                <dd>@Model.PhoneNumber</dd>
            }

            <dd>
                @Html.ActionLink("Change Shipping Address", "ShippingInfo", new { returnToConfirm = true })
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="column">
        <dl>
            <dt>Order Details</dt>
            <dd>
                <table style="width: 100%;">
                    <tr>
                        <th>Title</th>
                        <th>Platform</th>
                        <th>New Copy</th>
                        <th>Quantity</th>
                        <th class="text-right">Unit Price</th>
                        <th class="text-right">Total Price</th>
                    </tr>

                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.PlatformName</td>
                            <td>@item.IsNew</td>
                            <td>@item.Quantity</td>
                            <td class="text-right">@( $"{item.ItemPrice:C}" )</td>
                            <td class="text-right">@( $"{item.ItemTotal:C}")</td>
                        </tr>
                    }

                    <tr>
                        <td colspan="6">
                            <hr/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">Item Total</td>
                        <td class="text-right">@($"{Model.ItemSubTotal:C}")</td>
                    </tr>
                    <tr>
                        <td colspan="5">Shipping and Handling</td>
                        <td class="text-right">@($"{Model.ShippingCost:C}")</td>
                    </tr>
                    <tr>
                        <td colspan="5">Tax</td>
                        <td class="text-right">
                            <strong>@($"{Model.TaxAmount:C}")</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <strong>Order Total</strong>
                        </td>
                        <td class="text-right">
                            <strong>@($"{Model.ItemSubTotal + Model.ShippingCost + Model.TaxAmount:C}")</strong>
                        </td>
                    </tr>
                </table>
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="column">
        @Html.ActionLink("Cancel", "Index", new { Controller = "Cart" }, new { @class = "button alert"})

        @using (Html.BeginForm("PlaceOrder", "Cart", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <button type="submit" class="right">Place Order</button>
        }
    </div>
</div>

@*
    <p>
        @Html.ActionLink("Place Your Order", "ConfirmOrder", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Change Shipping Address", "ShippingInfo")
        @Html.ActionLink("Change Billing Info", "BillingInfo")
    </p>
*@
