@using Veil.Models
@model AddressViewModel

@{
    ViewBag.Title = "Shipping Information";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

@if (Model.Addresses.Any())
{
    using (Html.BeginForm("ExistingShippingInfo", "Checkout", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("returnToConfirm", Request.Url.Query.Contains("returnToConfirm"))

        <div class="row panel">
            <div class="column">
                <h4>Your Addresses</h4>

                @Html.DropDownList("addressId", Model.Addresses, new { aria_label = "Addresses" })

                <button type="submit" class="button right">Ship to This Address</button>
            </div>
        </div>
    }
}


@using (Html.BeginForm("NewShippingInfo", "Checkout", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("returnToConfirm", Request.Url.Query.Contains("returnToConfirm"))

    <div class="row panel">
        <div class="column">
            <h4>New Address</h4>

            @{ Html.RenderPartial("AddressViewModel/_AddressFormFields", Model); }

            <div class="row collapse padding-top-1">
                <div class="small-7 medium-3 column">
                    <label for="saveAddress">
                        @Html.CheckBox("saveAddress")
                        <strong>Save Address?</strong>
                    </label>                  
                </div>
            </div>

            <div class="row right padding-top-1">
                <div class="column">
                    <button type="submit" class="button">Ship to This Address</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        // Simple script to disable all the optgroups except for the one for the selected country
        $(function () {

            $('#@nameof(Model.CountryCode)').change(function () {

                var selectedCountryName = $('option:selected', this).text();

                $('#@nameof(Model.ProvinceCode) > optgroup').each(function () {

                    if (this.label !== selectedCountryName) {
                        $(this).prop('disabled', true);
                    } else {
                        $(this).prop('disabled', false);

                        if ($('option:selected', this)[0] === undefined) {
                            $('option', this).first().prop('selected', true);
                        }
                    }
                });
            }).
            trigger('change'); // Manually trigger the initial change
        });
    </script>
}