@using Veil.DataModels.Models
@model Veil.Models.FriendsListViewModel

@{
    ViewBag.Title = "Friends List";
}

<div class="row">
    <div class="columns">
        <h2>@ViewBag.Title</h2>

        <h4>Add a New Friend</h4>
        @using (Html.BeginForm("AddFriendRequest", "FriendList", FormMethod.Post))
        {
            <div class="row collapse">
                <div class="medium-4 small-8 columns">
                    <input type="text" id="username" name="username" placeholder="Your friend's username"/>
                </div>
                <div class="medium-2 small-4 columns">
                    <button type="submit" class="button postfix">Add Friend</button>
                </div>
                <div class="medium-6 columns"></div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="medium-9 columns bordered margin-half-em">
        <h4>Requests Pending Action</h4>
        @if (Model.PendingReceivedFriendships.Count > 0)
        {
            foreach (var member in Model.PendingReceivedFriendships)
            {
                <div class="row">
                    <div class="medium-6 columns">@member.UserAccount.UserName</div>
                    <div class="small-6 medium-3 columns">@Html.ActionLink("Approve", "Approve", "FriendList", new { memberId = member.UserId }, new {@class = "button tiny success expand" })</div>
                    <div class="small-6 medium-3 columns">@Html.ActionLink("Decline", "Decline", "FriendList", new { memberId = member.UserId }, new { @class = "button tiny alert expand" })</div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="columns"><em>You have no requests requiring action.</em></div>
            </div>
        }
    </div>
    <div class="medium-9 columns bordered margin-half-em">
        <h4>My Pending Requests</h4>
        @if (Model.PendingSentFriendships.Count > 0)
        {
            foreach (var member in Model.PendingSentFriendships)
            {
                <div class="row">
                    <div class="small-9 columns">@member.UserAccount.UserName</div>
                    <div class="small-3 columns">@Html.ActionLink("Cancel", "Cancel", "FriendList", new { memberId = member.UserId }, new { @class = "button tiny alert expand" })</div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="columns"><em>You have no pending requests.</em></div>
            </div>
        }
    </div>
    <div class="medium-9 end columns bordered margin-half-em">
        <h4>My Friends</h4>
        @if (Model.ConfirmedFriends.Count > 0)
        {
            foreach (var friend in Model.ConfirmedFriends)
            {
                <div class="row">
                    <div class="medium-6 columns">@friend.UserAccount.UserName</div>
                    <div class="small-4 small-offset-4 medium-3 medium-offset-0 columns">@((friend.WishListVisibility == WishListVisibility.Private) 
                            ? new HtmlString("<a class=\"button tiny info expand disabled\">Private</a>")
                            : Html.ActionLink("View Wishlist", "Index", "Wishlist", new { username = friend.UserAccount.UserName }, new { @class = "button tiny info expand expand" }))</div>
                    <div class="small-4 medium-3 columns">@Html.ActionLink("Remove", "Remove", "FriendList", new { memberId = friend.UserId }, new { @class = "button tiny alert expand" })</div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="columns"><em>You have no friends.</em></div>
            </div>
        }
    </div>
</div>